@import url("https://fonts.googleapis.com/css?family=Exo:400,800&display=swap");
.navbarBackground {
  background-color: #181818;
  width: 60px;
  height: 100vh;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.listLanguage {
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin-top: 25px;
}

.listLanguage li {
  list-style: none;
  text-align: center;
  margin-bottom: 5px;
}

.listLanguage a {
  text-decoration: none;
  color: #999999;
  font-size: 1.2em;
  font-weight: 900;
}

.listLanguage a:hover {
  color: #35f425;
}

.listLanguage .english {
  text-decoration: underline;
  -webkit-text-decoration-color: #35f425;
          text-decoration-color: #35f425;
}

.navlist {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navlist .navlinks {
  height: 60px;
  list-style: none;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.navlist .navlinks a {
  text-decoration: none;
  color: #35f425;
  font-size: 0.7em;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navlist .navlinks img {
  height: 35px;
}

.navlist .navlinks .about,
.navlist .navlinks .contact {
  height: 30px;
}

.activePage {
  background-color: #212121 !important;
  border-top-style: solid;
  border-top-color: #35f425;
  border-bottom-style: solid;
  border-bottom-color: #35f425;
  border-width: 1px;
}

.social {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 25px;
}

.social li {
  list-style: none;
  text-align: center;
  margin-top: 5px;
}

.social a {
  text-decoration: none;
  color: #999999;
  font-size: 1.5em;
  font-weight: 500;
}

.social a:hover {
  color: #35f425;
}

.aboutPage {
  width: 100%;
  height: 100%;
  background-color: #212121;
  background-image: url("/image/Component3.png");
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 1.5fr 2fr;
      grid-template-columns: 60px 1fr 1.5fr 2fr;
}

.aboutInfo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 25vh;
  color: #f3f3f3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aboutInfo h1 {
  color: #35f425;
  font-weight: 800;
  font-size: 6em;
  line-height: 95.42%;
}

.aboutInfo p {
  margin-top: 5vh;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.aboutInfo button {
  margin-top: 5vh;
  width: 200px;
  height: 50px;
  border: 2px solid #35f425;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #35f425;
  background-color: transparent;
  font-size: 1.3em;
}

.star {
  -ms-grid-column: 4;
      grid-column-start: 4;
  width: 600px;
  height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
}

.star .star-1 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.star .star-2 {
  -ms-grid-column: 12;
  grid-column: 12;
  -ms-grid-row: 16;
  grid-row: 16;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

.star .star-3 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 20;
  grid-row: 20;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.star .star-4 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 10;
  grid-row: 10;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.star .star-5 {
  -ms-grid-column: 22;
  grid-column: 22;
  -ms-grid-row: 6;
  grid-row: 6;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.star .star-6 {
  -ms-grid-column: 19;
  grid-column: 19;
  -ms-grid-row: 20;
  grid-row: 20;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.star .star-7 {
  -ms-grid-column: 18;
  grid-column: 18;
  -ms-grid-row: 12;
  grid-row: 12;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.star .star-8 {
  -ms-grid-column: 10;
  grid-column: 10;
  -ms-grid-row: 5;
  grid-row: 5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.shine {
  -webkit-animation-name: glitter;
          animation-name: glitter;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 30% 50%;
          transform-origin: 30% 50%;
}

@-webkit-keyframes glitter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes glitter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Exo", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: block;
}

.homePage {
  background-color: #212121;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1.5fr 2fr;
      grid-template-columns: 60px 1.5fr 2fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.videoPlayback {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background-image: url("/Video/reactCode.gif");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin-left: 5vh;
}

.homeHeader {
  z-index: 2;
  margin-left: 25vh;
  margin-top: -5vh;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homeHeader h1 {
  font-weight: 800;
  font-size: 6em;
  line-height: 95.42%;
  color: #f3f3f3;
}

.homeHeader h1 span {
  color: #35f425;
}

.homeHeader p {
  margin-top: 2vh;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2em;
  line-height: 48px;
  color: #999999;
}

.homeHeader button {
  margin-top: 2vh;
  width: 200px;
  height: 50px;
  border: 2px solid #35f425;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #35f425;
  background-color: transparent;
  font-size: 1.3em;
}

.homeHeader button:hover {
  cursor: pointer;
  background-color: #35f425;
  color: #212121;
}

#nav-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1100px) {
  .homePage {
    margin-left: -60px;
  }
  .homeHeader {
    margin-left: 15vh;
  }
  #nav-placeholder {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (max-width: 700px) {
  .homePage {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    overflow: hidden;
  }
  .videoPlayback {
    -ms-grid-column: 2;
        grid-column-start: 2;
    margin-left: 5vh;
    margin-top: 5vh;
    background-size: 800px, 6000px;
  }
  .homeHeader {
    padding-right: 3vh;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .homeHeader h1 {
    font-size: 3em;
  }
  .homeHeader p {
    font-size: 1.2em;
    line-height: 20px;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  .homeHeader button {
    width: 125px;
    height: 35px;
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */