@import "./navbar";
@import url("https://fonts.googleapis.com/css?family=Exo:400,800&display=swap");

$greenColor: #35f425;

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Exo", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.homePage {
	background-color: #212121;
	height: 100%;
	//margin-left: 60px;
	display: grid;
	grid-template-columns: 60px 1.5fr 2fr;
	grid-template-rows: 1fr 2fr;
	transition: 0.5s;
	overflow: hidden;
}

.videoPlayback {
	filter: blur(4px);
	background-image: url("/Video/reactCode.gif");
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	transition: 0.5s;
	transform: scale(1.1);
	margin-left: 5vh;
}

.homeHeader {
	z-index: 2;
	margin-left: 25vh;
	margin-top: -5vh;
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
	transition: 0.5s;

	h1 {
		font-weight: 800;
		font-size: 6em;
		line-height: 95.42%;
		color: #f3f3f3;

		span {
			color: #35f425;
		}
	}

	p {
		margin-top: 2vh;
		font-style: normal;
		font-weight: normal;
		font-size: 2.2em;
		line-height: 48px;
		color: #999999;
	}

	button {
		margin-top: 2vh;
		width: 200px;
		height: 50px;
		border: 2px solid #35f425;
		box-sizing: border-box;
		color: #35f425;
		background-color: transparent;
		font-size: 1.3em;
	}

	button:hover {
		cursor: pointer;
		background-color: #35f425;
		color: #212121;
	}
}

#nav-placeholder {
	transition: 0.5s;
	position: fixed;
}

@media screen and (max-width: 1100px) {
	.homePage {
		margin-left: -60px;
	}

	.homeHeader {
		margin-left: 15vh;
	}

	#nav-placeholder {
		transform: translateX(-60px);
		transition: 0.5s;
	}
}

@media screen and (max-width: 700px) {
	.homePage {
		grid-template-columns: 1fr 2fr;
		overflow: hidden;
	}

	.videoPlayback {
		grid-column-start: 2;
		margin-left: 5vh;
		margin-top: 5vh;
		background-size: 800px, 6000px;
	}

	.homeHeader {
		padding-right: 3vh;
		grid-column-start: 1;

		h1 {
			font-size: 3em;
		}

		p {
			font-size: 1.2em;
			line-height: 20px;
			margin-top: 5vh;
			margin-bottom: 2vh;
		}

		button {
			width: 125px;
			height: 35px;
			font-size: 1em;
		}
	}
}
