$greenColor: #35f425;
$shadow: #533d4a;

.aboutPage {
	margin-left: 60px;
	height: 100%;
	background-color: #212121;
	background-image: url("../image/Component3.png");
	background-size: cover;
	display: grid;
	grid-template-columns: 0px 1fr 1.5fr 2fr;
}

.aboutInfo {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 1;
	margin-left: 25vh;
	color: #f3f3f3;
	align-self: center;

	h1 {
		transform: skew(-10deg);
		color: $greenColor;
		font-weight: 800;
		font-size: 6em;
		line-height: 95.42%;
	}

	p {
		margin-top: 5vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.1em;

		span {
			text-decoration: underline #35f425;
		}
	}

	.button {
		position: absolute;
		text-decoration: none;
		color: #35f425;
		font-size: 1.3em;
		margin-top: 2em;
		margin-left: 1em;
		width: 150px;

		svg {
			margin-top: -0.5em;
			margin-left: -1em;
			position: absolute;
			height: 45px;
			width: 150px;
		}

		rect {
			fill: none;
			stroke: #35f425;
			stroke-width: 2;
			stroke-dasharray: 422, 0;
			transition: all 0.35s linear;
		}
	}

	.button:hover {
		cursor: pointer;
		background-color: none;
		font-weight: 600;

		rect {
			stroke-width: 5;
			stroke-dasharray: 15, 310;
			stroke-dashoffset: 48;
			transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}

.star {
	grid-column-start: 4;
	width: 600px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);

	.star-1 {
		grid-column: 4;
		grid-row: 3;
		//transform: translate(150px, 100px);
		animation-duration: 3s;
	}

	.star-2 {
		grid-column: 12;
		grid-row: 16;
		animation-duration: 4.5s;
	}

	.star-3 {
		grid-column: 6;
		grid-row: 20;
		animation-duration: 3.5s;
	}

	.star-4 {
		grid-column: 5;
		grid-row: 10;
		animation-duration: 4s;
	}

	.star-5 {
		grid-column: 22;
		grid-row: 6;
		animation-duration: 5s;
	}

	.star-6 {
		grid-column: 19;
		grid-row: 20;
		animation-duration: 2.5s;
	}

	.star-7 {
		grid-column: 18;
		grid-row: 12;
		animation-duration: 3.3s;
	}

	.star-8 {
		grid-column: 10;
		grid-row: 5;
		animation-duration: 4.2s;
	}
}

.shine {
	animation-name: glitter;
	animation-iteration-count: infinite;
	transform-origin: 30% 50%;
}

@keyframes glitter {
	0% {
		transform: rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: rotate(0deg);
		opacity: 0;
	}
}
