$greenColor: #35f425;
$animate: all 0.2s ease-in-out;

.skillsPage {
	margin-left: 60px;
	height: 100%;
	background-color: #999999; //#dbdbdb;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;

	.halfPage {
		transition: 1.4s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row: 1;
		height: 100%;
		width: 100%;
		background-color: #212121;
	}

	.skillsContent {
		transition: 1.2s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row: 1;
		align-self: center;
		text-align: center;

		.bigSkillsHeader {
			color: $greenColor;
			font-size: 10em;
			font-weight: 900;
			line-height: 80%;
			margin-left: -125px;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: -4px;
				right: 200px;
				width: 250px;
				height: 2px;
				margin: 5px 0 0;
				background-color: darken($greenColor, 5%);
			}

			::after {
				font-size: 18px;
				font-weight: 500;
				content: "click me";
				position: absolute;
				bottom: 35px;
				right: 210px;
				height: 10px;
				margin: 5px 0 0;
			}

			::selection {
				color: none;
				background: none;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.skillsParag {
		margin-left: 25vh;
		margin-right: 25vh;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row: 1;
		font-style: medium;
		font-weight: medium;
		font-size: 1.2em;
		color: #f3f3f3;
		align-self: center;
		box-sizing: border-box;
		line-height: 20px;
		opacity: 0;
		transform: translateX(-750px);
		transition: all 1s;
		transition-delay: 0.4s;

		h2 {
			color: $greenColor;
			font-size: 2em;
			line-height: 30px;
			margin-bottom: 15px;
		}

		// 	.hover {
		// 		transition: $animate;
		// 		position: relative;
		// 		&:before,
		// 		&:after {
		// 			content: "";
		// 			position: absolute;
		// 			bottom: -1px;
		// 			width: 0px;
		// 			height: 1px;
		// 			margin: 5px 0 0;
		// 			transition: $animate;
		// 			transition-duration: 0.75s;
		// 			opacity: 0;
		// 			background-color: darken($greenColor, 5%);
		// 			right: 30%;
		// 			animation: hovereffect 2s infinite;
		// 		}
		// 	}

		// 	@keyframes hovereffect {
		// 		0% {
		// 			width: 0%;
		// 			opacity: 0;
		// 			left: 0%;
		// 		}
		// 		40% {
		// 			width: 70%;
		// 			opacity: 1;
		// 			left: 0%;
		// 		}
		// 		60% {
		// 			width: 70%;
		// 			opacity: 1;
		// 			right: 30%;
		// 		}
		// 		100% {
		// 			width: 0;
		// 			opacity: 0;
		// 			right: 30%;
		// 		}
		// 	}
	}

	.skillsParag.animate {
		opacity: 1;
		transform: translateX(0);
		transition-delay: 0.4s;
	}

	.headerAnimate {
		transition: 1.2s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		transform: translateX(80%);
	}

	.halfPageAnimate {
		transition: 1.4s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		width: 180%;
	}
}
