.skillsPage {
	margin-left: 60px;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.output {
	display: grid;
	grid-template-rows: 1fr;

	.aboutInfo {
		margin-left: 15vh;
	}
}

.sublime-text {
	grid-column: 2;
}
